{% extends 'projectplace/base.html' %}
{% load static %}

{% block content %}


<h1>
            <div class="col-sm-4" style= "padding-left: 20%">
                <div style= "padding-top: 50"  class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-first"><a href="/">Film</a></button>
                    <button type="button" class="btn btn-first"><a href="/art/">Art</a></button>
                    <button type="button" class="btn btn-first"><a href="/design&tech/">Design&Tech</a></button>
                    <button type="button" class="btn btn-first"><a href="/games/">Games</a></button>
                    <button type="button" class="btn btn-first"><a href="/music/">Music</a></button>
                      <button type="button" class="btn btn-first"><a href="/other/">Other</a></button>
                  </div>
                </div>
            </div>
        </h1>
    <div>
        <h1>Projects:</h1>
    </div>

    <ul>
        {% for post in object_list %}
            {% if post.category == "design" %}
            <li id="count_collor" style="font-size: 30px;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            {{ post.body }}</li>
            {% elif post.category != "design" %}
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}