{% extends 'projectplace/base.html' %}
{% load bootstrap %}

{% block content %}
          <div style="font-size: 30px;">you post:</div>
        {% for post in posts %}
            <ul>
                <li id="count_collor1" style="font-size: 30px;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title |linebreaksbr}}</a></li>

                <li style="font-size: 18px;">{{ post.body }}</li>
                <li style="font-size: 18px;">{{ post.value}} </li>
        </ul>
        <br>
        {% endfor %}
        </div>
{% endblock %}